.card {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 14px;
  background: #ffffff;
}

textarea {
  resize: none;
  border-radius: 10px;
  font-size: 15px;
}

button {
  font-weight: 500;
  border-radius: 10px;
  padding: 10px;
}

.alert {
  border-radius: 10px;
}

.historial {
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.historial::-webkit-scrollbar {
  width: 6px;
}

.historial::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 6px;
}
